@font-face {
    font-family: 'AlternateGothicFSNo2';
    src: url('../fonts/alternategothicfsno2-webfont-webfont.eot');
    src: url('../fonts/alternategothicfsno2-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alternategothicfsno2-webfont-webfont.woff') format('woff'),
         url('../fonts/alternategothicfsno2-webfont-webfont.ttf') format('truetype'),
         url('../fonts/alternategothicfsno2-webfont-webfont.svg#AlternateGotNo1DRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#464646;
	font-size: 12px;
	height: auto;
	color:#FFFFFF;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	text-align: left;
}

a {
color: #fff;
text-decoration:underline;
	
}

a:hover {
	text-decoration: underline;
}




h1 {
	font: 36px/0.8em 'AlternateGothicFSNo2','Arial Narrow','Arial',sans-serif;
	color: #FFF;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	letter-spacing:0.04em;
}


h2 {
	font: 28px/0.8em 'AlternateGothicFSNo2','Arial Narrow','Arial',sans-serif;
	color: #FFF;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	letter-spacing:0.04em;
	padding-top:30px;
}





.container_12,
.container_16,
.container_24 {
	margin-bottom: 20px;
}

/* SIDEBAR - SOCIAL LINKS
--------------------------------------------------------------------------------*/

#social{
	margin-bottom:80px;
	width:300px;
	overflow:hidden;
	display:block;
}

#social ul, #social ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
	text-align:left;
	float:left;
	display:block;
}

 
#social li {
    float: left;
    margin:0 15px 0 0;
	display:block;
}

#social li.end  {
    margin:0;
	padding:0;
}

#social img {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition:    opacity 0.3s ease-in-out;
    -o-transition:      opacity 0.3s ease-in-out;
	display:block;
	height:48px;
	width:48px;
	}

#social img:hover{
    opacity: 0.65;
    }
	
	