#player {
    vertical-align: top;
    font-size: 0;
    min-width: 170px;
}

#artarea {
    display: inline-block;
    width: 41px;
    height: 40px;
    vertical-align: top;
    position: absolute;
    top: 1px;
    left: 1px;
    border-right: 1px solid #d2d2d2;
}

#art {
    outline: none;
}

#nonartarea {
    display: inline-block;
    height: 42px;
    border: 1px solid #d2d2d2;
    width: 100%;
    padding: 0 0 0 81px;
}

#linkarea,
#currenttitlerow,
#prevnext,
#currenttimeblock,
#timelinecontainer {
    display: none;
}

.trackspecified #maintext {
    display: none;
}

.trackspecified #trackname {
    padding: 0 0 0 10px;
    line-height: 40px;
    margin: 0;
    display: inline;
    width: auto;
    font-size: 0;
    visibility: visible;
}

.trackspecified #tracknamelink {
    font-size: 13px;
    width: auto;
    min-width: 5%;
    max-width: 54%;
    line-height: 40px;
    vertical-align: top;
}

.trackspecified #trackname:after {
    content: '\00a0';
    font-size: 13px;
}

#infolayer.fixed {
    padding: 0 55px 0 0;
    border: 0;
    border-left: 1px solid #d2d2d2;
    height: auto;
}
.noartwork #infolayer.fixed {
    position: relative;
    height: auto;
}

#infolayer .info {
    height: auto;
    border: none;
    position: static;
}

.noartwork #infolayer .info {
    display: inline-block;
    width: 100%;
    height: auto;
    position: static;
    vertical-align: top;
}



.art {
    display: none;
}

#maintext {
    padding: 0 0 0 10px;
    line-height: 40px;
    margin: 0;
    display: inline;
    width: auto;
    font-size: 0;
    font-weight: normal;
}

#maintextlink {
    font-size: 13px;
    width: auto;
    min-width: 5%;
    max-width: 54%;
    line-height: 40px;
    vertical-align: top;
}
#maintextlink:after {
    content: '\00a0';
}

#albumtrackartistrow {
    display: inline;
}

#artist {
    width: auto;
    min-width: 5%;
    max-width: 45%;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

#big_play_button {
    background: #fff;
    border-radius: 0;
    position: absolute;
    left: auto;
    bottom: 0px;
    left: 41px;
    z-index: 100;
    width: 40px;
    height: 40px;
}

#big_play_button:hover {
    border: 0;
    cursor: pointer;
}

#artarea:hover #big_play_button {
    background: #f6f6f6;
    border: 0;
}
.big #big_play_button {

}

#big_play_icon {
    border-color: transparent transparent transparent #333;
    border-style: dashed dashed dashed solid; /* dashed for smooth rendering in ff */
    border-width: 8px 0px 8px 14px;
    margin: 12px auto;
}

.playing #big_play_icon {
    margin: 12px auto;
    border-style: solid;
    border-width: 0px 5px 0px 5px;
    border-color: #333;
    width: 14px;
    height: 16px;
    left: 0;
}

#progbar_fill_played {
    width: 0px;
    display: block;
    background: #888;
}

/* albumtrackplayer */


/* no artwork */

.noartwork #artlink,
.noartwork .art {
    display: none;
}

.noartwork #artarea {
    width: 1px;
}

.noartwork #infolayer {
    padding: 0 55px 0 0;
    margin: 0 0 0 40px;
}
.noartwork #big_play_button {
    left: 0;
}
.noartwork #nonartarea {
    padding: 0;
}


/* logo */

#infolayer .logo {
    display: block;
    position: absolute;
    color: #000;
    top: 0;
    right: 0;
    width: 30px;
    font-size: 13px;
    font-weight: bold;
    line-height: 2em;
    margin: 6px 2.86% 0 0;
}

#infolayer .logo .icon {
    display: inline-block;
    opacity: 0.5;
    width: 32px;
    height: 10px;
    position: relative;
    top: 10px;
    right: 3px;
    vertical-align: top;
}

/* sizing */

@media (max-width: 299px) {
    #maintextlink {
        max-width: 100%;
    }

    #artist {
        display:none;
    }
    #infolayer .logo,
    .noartwork #infolayer .logo {
        display: none;
    }
    #infolayer.fixed {
        padding: 0 15px 0 0;
    }
} /* end 299 */

@media (min-width: 300px) and (max-width: 369px)  {
/* below 370, hide logo for artwork players */
    #infolayer .logo {
        display: none;
    }
    #infolayer.fixed {
        padding: 0 13px 0 0;
    }
    .noartwork #infolayer.fixed {
        padding: 0 55px 0 0;
    }
}

@media (min-width: 300px) and (max-width: 329px)  {
/* below 330, hide logo for nonartwork players too */
    .noartwork #infolayer .logo {
        display: none;
    }
    .noartwork #infolayer.fixed {
        padding: 0 13px 0 0;
    }
}





/* theme dark */

.theme-dark #logo .icon {
    background-position: 0 -10px;
}

.theme-dark #infolayer {
    border-left: 1px solid #575757;
}

.theme-dark #artarea {
    border-right: 1px solid #575757;
}

.theme-dark #nonartarea {
    border: 1px solid #575757;
    background-color: #303030;
}

.theme-dark #artist,
.theme-dark #album {
    color: #999;
}

.theme-dark #big_play_button {
    background: #303030;
    border: 0;
}

.theme-dark #artarea:hover #big_play_button {
    background: #474747;
    border: 0;
}


.theme-dark #big_play_icon {
    border-color: transparent transparent transparent #d3d3d2;
    border-style: dashed dashed dashed solid; /* dashed for smooth rendering in ff */
    border-width: 8px 0px 8px 14px;
    margin: 12px auto;
}

.theme-dark.playing #big_play_icon {
    margin: 12px auto;
    border-style: solid;
    border-width: 0px 5px 0px 5px;
    border-color: #d3d3d2;
    width: 14px;
    height: 16px;
    left: 0;
}

.theme-dark #prev:hover .icon {
    border-color: transparent #ccc transparent transparent;
}
.theme-dark #prev:hover .icon:before {
    border-color: transparent #ccc transparent transparent;
}
.theme-dark #prev:hover .icon:after {
    background-color:#ccc;
}
.theme-dark #next:hover .icon:before {
    border-color: transparent transparent transparent #ccc;
}
.theme-dark #next:hover .icon:after {
    background-color:#ccc;
}
.theme-dark #next:hover .icon {
    border-color: transparent transparent transparent #ccc;
}
